* {
    padding : 0;
    margin : 0;
}
h1 {
    font-size : 40px;
    font-family: 'Black Han Sans', sans-serif;
    margin : 27px 0 20px 3%;
}
.issue_cnt {
    color : gray;
    margin : 20px 0 30px 5%;
}
.issue_table {
    padding : 0 2.4%;
}