* {
    padding: 0;
    margin: 0;
}

/* security */
.top {
    padding: 20px 0 30px 30px;
    border-bottom: 20px solid rgb(109, 109, 109);
}

.top a {
    text-decoration: none;
    color: rgb(80, 155, 232);
}

/* 로그인 폼 */
#input_button, #input_button li {
    list-style-type: none;
}

.tag {
    text-align: left;
    margin-top: 30px;
    margin-left: 16%;
}

.login_title {
    font-size: 35px;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 20px;
}

form {
    font-size: 15px;
    color: black;
}

#login_box {
    text-align: center;
    margin: 0 auto;
    width: 600px;
    padding: 20px 0 35px 0;
    background-color: white;
}

#login_box span {
    color: gray;
}

#login_box input {
    font-size: 15px;
    margin: 5px;
    width: 400px;
    height: 40px;
    padding: 5px 0 5px 7px;
}

#pass {
    margin-top: 5px;
}

#login_help {
    font-size: 12px;
    text-align: right;
    margin-right: 100px;
}

#login_help button {
    border-style: none;
    background-color: white;
}

#login_btn button {
    background-color: rgba(109, 109, 109, 0.5);
    color: white;
    border-style: none;
    margin-top: 40px;
    padding: 20px 180px 20px 180px;
    font-size: 17px;
}

#find_id {
    margin-top: 25px;
}

#find_id a {
    text-decoration: none;
    margin: 0 20px;
    color: gray;
}

/* 회원가입 폼 */
#member_btn button {
  background-color: rgba(109,109,109, 0.5);
  color : white;
  border-style: none;
  margin-top:40px;
  padding:20px 172px 20px 172px;
  font-size : 17px;
}

.member_title {
  font-size : 35px;
  text-align: center;
  margin-top : 2%;
  margin-bottom : 20px;
}

/* 버튼 */
