* {
  padding : 0;
  margin : 0;
}

#input_button, #input_button li {
    list-style-type: none;
}
.login_title {
  text-align: center;
  margin : 15% 0 17px 0;
  padding-right: 240px;
}
form {
  font-size:12px;
  color:black;
}
#login_box {
  text-align: center;
  margin: 0 auto;
  width : 360px;
  border : 1px solid black;
  padding : 40px 0 35px 0;
  background-color: white;
}
#login_box span {
  margin-right: 120px;
  color : gray;
}
#login_box input {
    margin : 5px;
    width:300px;
    height:30px;
    padding : 5px 0 5px 7px;
}
#pass {
    margin-top:5px;
}
#login_btn button {
  background-color: rgba(109,109,109, 0.5);
  color : white;
  border-style: none;
  margin-top:10px;
  padding:12px 130px 12px 130px;
  font-size : 17px;
}
#find_id {
  margin-top: 25px;
}
#find_id a {
  text-decoration: none;
  margin : 0 20px;
  color : gray;
}
